ASSEMBLYAI_KEY=your_assemblyai_key_here
CLAUDE_API_KEY=your_anthropic_key_here
ELEVENLABS_KEY=your_elevenlabs_key_here
AIRTABLE_TOKEN=your_airtable_token_here
AIRTABLE_BASE_ID=appJfSt8YbO1NAWjA
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
